---
BasedOnStyle:  Google
AlignArrayOfStructures: Left
AlignConsecutiveMacros: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
BreakBeforeBraces: Allman
ColumnLimit:     100
...
